.App-fullbar {
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    margin-bottom: 20px;
}

.App-logo {
    height: 28px;
}

.App-controls .card-deck {
    margin-top: 20px;
    margin-bottom: 20px;
}

.App-header {
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}